body{
    background-color: #ddd;
}
.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
}
.details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.details .product, .details .productImgs{
    width: calc(50% - 20px);
}
.details .productImgs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.details .productImgs .imag{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: calc((100% - 10px) / 2);
}
.details .productImgs img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}